.logo {
  @extend %link;

  display: inline-block;
  // margin-top: 40px;

  @media screen and (min-width: $tablet) {
    margin-right: 60px;
    margin-top: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 131px;
  }

  &__icon {
    fill: var(--t-light-color);

    @media screen and (min-width: $tablet) {
      fill: var(--t-main-color);
    }
  }
}
