// Браузер
// - font-style:
//      - все:       normal;
//      - address:   italic;
// - font-weight:
//      - текст:     400;
//      - посилання: 400;
//      - h3:        500;
//      - h2:        700;
//      - h1:        900;
// - font-size:
//      - текст:     18px;
//      - h3:
//      - h2:        24px
//      - h1:        24px;

body {
  font-family: var(--main-font);
  font-size: 18px;

  color: var(--t-main-color);
  // line-height: calc(40 / 18); - не треба - під іконкою логотипу, яка є посиланням, додається відступ
  letter-spacing: 0.02em;

  // font-weight: 400;
}

.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;

  margin-bottom: 20px;

  @media screen and (max-width: ($mobile - 1)) {
    font-size: 10px;
    gap: 10px;
  }

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--t-main-color);

    @media screen and (max-width: ($mobile - 1)) {
      width: 40px;
    }
  }

  &--on-dark {
    color: var(--t-grey-1-color-60);

    &::before {
      content: '';
      background-color: var(--t-grey-1-color-60);
    }
  }
}

.title {
  font-family: var(--secondary-font);
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.05em;

  margin-bottom: 20px;

  @media screen and (max-width: ($mobile - 1)) {
    font-size: 34px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }

  &--on-dark {
    margin-bottom: 44px;
    color: var(--t-light-color);
  }

  &--team {
    margin-bottom: 44px;
  }
}
